.footer {
  background: #343A40;
  width: 100%;
  position: absolute;
  bottom: 0;
  &__main{
    padding-top: 15px;
    text-align: center;
    &_list{
      list-style: none;
      .nav-word{
        height: 30px;
        &__link{
          text-decoration:none; 
          font-size: 14px;
          color: #ffffff;
          font-family: Roboto;
        }
      }
    }
    &_copy-right{
      height: 30px;
      font-size: 14px;
      color: #ffffff;
      font-family: Roboto;
    }
  }
}
